@model CellTool.Storage.Models.CellGroup
@using Images.Web.Content.htmlhelpers;

@{
    ViewBag.Title = "Index";
}



<fieldset>
    <legend>Images</legend>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImagePath)
    </div>
</fieldset>

<h2>Index</h2>

<img width="150" height="150" style="padding:4px" src="@ViewBag.ImageData" />

